<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Mono.Data.Sqlite" />
      <add name="Mono Sqlite Data Provider" invariant="Mono.Data.Sqlite" description="ADO.NET 2.0 Data Provider for SQLite" type="Mono.Data.Sqlite.SqliteFactory, Mono.Data.Sqlite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="TEST" connectionString="Data Source=:memory:;Version=3;New=True;" providerName="Mono.Data.Sqlite" />
  </connectionStrings>
</configuration>